@font-face {
    font-family: 'Futura';
    src: url('FuturaPTLight.otf');
    font-weight:300;
    font-style:normal;
}
@font-face {
    font-family: 'Futura';
    src: url('FuturaPTBook.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('FuturaPTMedium.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Futura';
    src: url('FuturaPTDemi.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Futura';
    src: url('FuturaPTHeavy.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Futura';
    src: url('FuturaPTBold.otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Futura';
    src: url('FuturaPTExtraBold.otf');
    font-weight: 900;
    font-style: normal;
}